body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  display: flex;
}
article {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
#side-content {
  display: flex;
  flex-direction: column;
	color: #ec4e20;
	min-width: 15rem;
	max-width: 33%;
}
#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
#modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
}
#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}
#close-button:hover {
  background-color: #333;
  color: #fff;
}
.main-nav {
  display: flex;
}
.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
  gap: 10px;
}
.main-nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
}
.main-nav ul li a:hover {
  background-color: #fff;
  color: #333;
}



